*.png
*notes.txt
*results*.txt
few-shot-clust/
code/tmp
code/notes.txt
code/Untitled.ipynb
code/datasets/
SD2C/
cluster-seed-words/
code/.ipynb_checkpoints/
new_few_shot/
.conda/
.vscode/
.gitmodules
